.Login {
  width: 100%;
  height: 100vh;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  background-image: url("carletonuni.jpeg");
  font-size: 0.9em;

  

  &__panel {
    width: 31.25rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;

    img {
      padding-top: 5.625rem;
      max-width: 100%;
      margin-bottom: 3.75rem;
    }

    &__button {
      border: none;
      background-color: #0056a4; /* Carleton Blue */
      color: #ffffff;
      padding: 12px 24px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: background-color 0.3s ease, transform 0.2s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
      &:hover {
        background-color: #003b75; /* Darker shade of blue */
        transform: translateY(-3px); /* Elevate slightly on hover */
      }
    
      &:active {
        background-color: #004e8a; /* Active color */
        transform: translateY(0); /* Return to original position on click */
      }
    }
    

    &__content {
      min-height: 100%;
      height: auto;
      margin: 0 auto 0 auto;
      padding: 0rem 6.25rem 0rem 3.125rem;

      &__message {
        margin-bottom: 1.875rem;
        font-size: 0.9em;

        a {
          color: #2672ec;
          text-decoration: none;
          background-color: transparent;
          font-weight: bold;
        }
      
      }

      &__input {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
        input {
          width: 100%;
          height: 28px;
          padding: 0px 3px 0px 3px;
          border: solid 1px #bababa;
          font-size: 0.9rem;
        }
      }

      &__checkbox {
        font-size: 0.9rem;
        margin-top: 0.625rem;
        margin-bottom: 2.375rem;
        input {
          margin: auto 0;
          margin-right: 0.25rem;
        }
      }
  
    }
  }
}
