.Central {
  &__page {
    height: 100vh;
    margin-left: 1%;
    margin-right: 2%;
    font-style: normal;
    font-family: verdana, arial narrow, helvetica, sans-serif;

    background-color: #ffffff; /* Light mode background */
    color: #333; /* Light mode text color */

    @media (prefers-color-scheme: dark) {
      background-color: #121212; /* Dark background */
      color: #e0e0e0; /* Light text color */
    }

    &__title {
      margin-top: 1.67rem;
      margin-bottom: 1.5rem;
      font-weight: bold;
      font-size: 2.5em;

      @media (prefers-color-scheme: dark) {
        color: #bb86fc; /* Dark mode title color */
      }
    }

    &__content {
      background-color: inherit; /* Ensure it inherits the background */
      color: inherit; /* Ensure it inherits the text color */
      padding: 1rem; /* Add some padding for spacing */
      
      @media (prefers-color-scheme: dark) {
        /* No specific styles needed, inherits from parent */
      }
    }

    &__footer {
      background-color: inherit; /* Ensure it inherits the background */
      padding: 1.5rem 0; /* Padding for space */
      text-align: center; /* Centered text */
      border-top: 1px solid #e0e0e0; /* Light border on top */

      @media (prefers-color-scheme: dark) {
        border-top: 1px solid #333; /* Darker border in dark mode */
      }

      &__release {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0.5rem;

        @media (prefers-color-scheme: dark) {
          color: #bbb; /* Dark mode release text color */
        }
      }

      &__copyright {
        margin-bottom: 0.5rem;

        @media (prefers-color-scheme: dark) {
          color: #bbb; /* Dark mode copyright text color */
        }
      }

      &__links {
        a {
          color: #0056a4; /* Light mode link color */
          text-decoration: none; /* Remove underline */
          margin: 0 0.5rem; /* Spacing between links */
          transition: color 0.3s; /* Smooth color transition on hover */

          @media (prefers-color-scheme: dark) {
            color: #bb86fc; /* Dark mode link color */
          }

          &:hover {
            color: #003b75; /* Darker color on hover in light mode */
            @media (prefers-color-scheme: dark) {
              color: #3700b3; /* Darker color on hover in dark mode */
            }
          }
        }

        span {
          color: #999; /* Light mode separator color */
          @media (prefers-color-scheme: dark) {
            color: #bbb; /* Dark mode separator color */
          }
        }
      }
    }
  }
}
